<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boosting - Mass Shootings</title>
    <!-- Bootstrap CSS -->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../recourses/css/style.css">
</head>
<body>
    <!-- Navigation Bar -->
    <div id="navbar-placeholder"></div>
    
    <article>
        <h3 class="container mt-4">Mass Shootings</h3>
        <section class="container mt-4" id="school_shootings_boosting">
            <div id="school_shootings_boosting-raw_data">
                <h5>Sample Data</h5>
                <img src="../../recourses/img/tables/school_raw_table.png" alt="Mass Shootings Raw Data Table" class="img-fluid mb-3">
                <a href="../../data/gunviolencearchive_school_shooting.csv" target="_self">
                    Click here to view the full sample dataset.
                </a>
            </div>
            <div id="school_shootings_boosting-train">
                <h5 class="mt-4">Training Data</h5>
                <img src="../../recourses/img/tables/boosting_train_school.png" alt="Boosting Mass Shooting Training Data Table" class="img-fluid my-3">
            </div>
            <div id="school_shootings_boosting-train">
                <h5 class="mt-4">Testing Data</h5>
                <img src="../../recourses/img/tables/boosting_test_school.png" alt="Boosting Mass Shooting Test Data Table" class="img-fluid mb-3">
            </div>
            <div id="school_shootings_boosting-results">
                <h5 class="mt-4">Confusion Matrix</h5>
                <img src="../../recourses/img/plots/boosting_school_cm.png" width="600px" alt ="Boosting Mass Shooting Confusion Matrix" class="img-fluid mb-3">
                <h5 class="mt-4">Feature Importance</h5>
                <img src="../../recourses/img/plots/boosting_school_fi.png" width="600px" alt ="Boosting Mass Shooting Feature Importance" class="img-fluid mb-3">
                <h5 class="mt-4">Error vs Estimators</h5>
                <img src="../../recourses/img/plots/boosting_school_error.png" width="600px" alt ="Boosting Mass Shooting Error vs Estimators" class="img-fluid mb-3">
                <h5 class="mt-4">Comparison of Configurations</h5>
                <img src="../../recourses/img/plots/boosting_school_comparison.png" width="600px" alt ="Boosting Mass Shooting Comparison of Configurations" class="img-fluid mb-3">
            </div>
            <div id="school_shootings_boosting-conclusions">
                <h5 class="mt-4">Conclusions</h5>
                <p> 
                    
                </p>
            </div>
        </section>    
    </article>

    <script src="../../recourses/js/script.js"></script>
</body>
</html>