<link rel="stylesheet" href="../recourses/css/style.css">
<!-- Navigation Bar -->
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="intro.html">Introduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dataprep_eda.html">Data Prep & EDA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="clustering.html">Clustering</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pca.html">PCA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="naive_bayes.html">Naive Bayes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dec_trees.html">Decision Trees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="svm.html">SVM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="regression.html">Regression</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="nn.html">Neural Networks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="conclusion.html">Conclusions</a>
                </li>
            </ul>
        </div>
    </div>
</nav> 
